$color-black: #333333;
$color-lightBlack: #303030;
$color-grey: #949494;
$color-mediumGrey: #9f9f9f;
$color-lightGrey: #d1d1d1;
$color-easyGrey: #cacaca;
$color-whitesmoke: #00000014;
$color-ghostwhite: #f7faff;

$color-darkBlue: #2c6ac7;
$color-blue: #5e93e7;
$color-cornflowerblue: #5c98f1;
$color-royalblue: #4583de;
$color-mediumBlue: #b3cdf8;
$color-skyblue: #88abe3;
$color-powderblue: #c5daff;
$color-lavender: #e1ecfe;
$color-lightBlue: #e9f2ff;
$color-aliceblue: #eff5ff;
$color-wisdomblue: #f3f8ff;

$color-error: #fb6262;
$color-error-focus: #fa4b4b;

$color-white: #fff;

$color-start-animation: rgba(136, 171, 227, 0.4);
$color-end-animation: rgba(204, 169, 44, 0);

$media-mobile-s: 320px;
$media-mobile-m: 375px;
$media-tablet-s: 425px;
$media-tablet-s: 550px;
$media-tablet: 768px;
$media-laptop: 1024px;
$media-laptop-l: 1440px;
